* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: rgba(183, 183, 183, 0.72);
    margin-left: 5%;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-bottom: 2px solid maroon;
    background: white;
    padding: 0 0 20px 0;
}

th {
    text-align: left;
    padding: 3px;
}

td {
    border-bottom: 1px solid maroon;
}

a {
    text-decoration: none;
}

a:link {
    color: #b915ff;
}

a:visited {
    color: #6e53ff;
}

a:hover {
    color: #a571ff;
    border-bottom: 1px solid #a571ff;
}

a:active {
    color: #0000FF;
    border-bottom: 1px solid #0000FF;
}

select {
    border-radius: 2px;
    border: 0;
    background-color: #fffcec;
}

th.checkbox {
    width: 20px;
}

.content {
    width: 100%;
    min-height: 100%;
    height: auto !important;
    /*height: 100%;*/
    margin: 0 auto -45px;
}

.main {
    padding-top: 50px;
    width: 100%;
}

#footer {
    height: 45px;
    width: 200px;
    margin: 0 auto;
}

.footer-push {
    height: 45px
}

.error {
    color: red;
    font-size: 10pt;
}

.icon-holder {
    padding-left: 20px;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 17px 17px;

}

.icon-holder.add {
    background-image: url("../images/add_48.png");
}

.icon-holder.add_user {
    background-image: url("../images/user_add_48.png");
}

.icon-holder.delete {
    background-image: url("../images/delete.png");
}

.icon-holder.replenish {
    background-image: url("../images/replenish.png");
}

.icon-holder.activate {
    background-image: url("../images/activate.png");
}

.icon-holder.block {
    background-image: url("../images/block.png");
}

.icon-holder.view {
    background-image: url("../images/view.png");
}

.icon-holder.pay {
    background-image: url("../images/pay.png");
}

.icon-holder.home {
    background-image: url("../images/home.png");
}

.icon-holder.back {
    background-image: url("../images/back.png");
}

.icon-holder.log-out {
    background-image: url("../images/log_out.png");
}

#change-locale {
    padding-top: 10px;
}

#logout {
    padding-top: 5px;
    float: right;
    margin-left: 15px;
}

#greeting {
    padding-top: 5px;
    float: right;
}

#back-to-main-page {
    padding-top: 5px;
}

.submit-button {
    border-radius: 3px;
    border: 1px solid slategray;
    cursor: pointer;
}

.login-registration-block {
    width: 400px;
    height: auto;
    padding: 35px 20px 20px 20px;
    margin: auto;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
}

.login-registration-block input {
    width: 90%;
    height: 42px;
    padding: 0 20px 0 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.login-registration-block button {
    width: 90%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-registration-block h4 {
    display: inline;
}

.sign-up {
    padding-top: 10px;
}

#back-to-login {
    float: right;
    width: 70px;
    height: 20px;
    margin: 0 10% 10px 0;
    box-sizing: border-box;
    background: #ff656c;
    border-radius: 2px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    outline: none;
    cursor: pointer;
    text-transform: none;
}

span.star {
    color: red;
}

.accounts-table-caption {
    width: 80%;
    margin: auto;
}

#h3-accounts {
    margin-left: 40%;
    display: inline;
}

#account-table-wrapper {
    width: 80%;
    margin: auto;
}

.table-header {
    background: white;
    padding: 10px;
}

.table-header span:first-child {
    margin-right: 10px;
}

#accounts-table {
    width: 100%;
}

#accounts-table td, th {
    padding-left: 5px;
}

#account-details-wrapper {
    float: right;
    width: 30%;
}

#account-details {
    border-bottom: 3px solid #ff321b;
}

#account-details th {
    width: 250px;
}

#card-details-wrapper {
    width: 60%;
}

#card-details {
    width: 100%;
}

#card-details th {
    width: 33%;
}

#card-details th.checkbox {
    width: 10%;
}

.card-details-table-header span {
    margin-left: 10px;
}

#addCard {
    display: inline;
}

#admin-back-to-accounts {
    margin-top: -18px;
}

.top {
    margin-top: 5px;
}

#users-table {
    width: 60%;
    margin: auto;
}

#banks-table-wrapper {
    width: 40%;
    margin: auto;
}

#banks-table {
    width: 100%;
}

#currencies-table-wrapper {
    width: 40%;
    margin: auto;
}

#currencies-table {
    width: 100%;
}

#back-to-cards-from-payments {
    width: 80%;
    margin: auto;
}

#payments-table {
    width: 80%;
    margin: 5px auto;
}

#error-page {
    margin: auto;
    width: 500px;
}

.error-messages {
    color: red;
    margin-top: -18px;
}

.admin-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.admin-item {
    width: 16.66666667%;
    min-height: 200px;
    padding: 40px 0 10px;
    display: inline-block;
    border-right: 1px solid #eee;
}

.admin-item a {
    border-bottom: none;
}

.admin-item:first-child {
    border-left: 1px solid #eee;
}